amqp==5.3.1
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
billiard==4.2.4
celery==5.6.3
click==8.5.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
fastapi==0.141.1
greenlet==3.5.5
grpcio==1.83.1
grpcio-tools==1.83.1
h11==0.16.0
idna==3.19
kombu==5.6.2
packaging==26.3
prompt_toolkit==3.0.53
protobuf==7.36.1
psycopg2-binary==2.9.13
pydantic==2.13.5
pydantic_core==2.46.5
python-dateutil==2.9.0.post0
redis==8.1.0
six==1.17.0
SQLAlchemy==2.0.52
starlette==1.6.0
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.4
tzlocal==5.4.4
uvicorn==0.52.4
vine==5.1.0
wcwidth==0.8.3
websockets==17.1
